.logo{
	margin-top: .5rem;
}
a{
	color:grey;
}
video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url({%static 'media/logo_yapase_mx_nuevo.png'%}) no-repeat;
    background-size: cover;
    transition: 1s opacity;
    opacity: 1;
}

.efectito{
	color:white;
	transition:all .5s ease-in-out;
}
.efectito:hover{
	padding-right:3rem;
	
	/*background-color: white;	*/
}



#text-p{
	text-align: center;
	color: white;
	display: block;
	margin: 4rem;
	margin-top: 5rem;
	padding: 4rem;
	background: rgba(0,0,0,.5);
	width: 50%;

}
#text-p p{
	font-family: 'Lato', sans-serif;
	font-size: 1.5rem;
	line-height:1.5rem;
}
#text-p h1{
	font-family: 'Exo', sans-serif;
	color: #80d8ff;
	line-height:10rem;
	font-size: 5rem;
}

@media screen and (max-width: 1000px){	
	#text-p{
		width: 100%;
		margin: 0;
	}
	#text-p h1{
		font-size: 3rem;
	}
}
.datitos{

	color:grey;
	font-size: .8rem;
	font-weight: 900;
}
.card-action .btn{
	display: block;
}
.margen{
	margin-left: 1rem;
}
.card-title{
	background: rgba(0,0,0,.5);
}
#titulo strong{
	font-size: 1.5rem;
}
.errorlist li{
	background-color: #FFA500;
	color:#FF0000;
}


