<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8" />
 <title>Login</title>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
 {% load staticfiles %}
 <link rel="stylesheet" href="static/socialproject/login.css">
</head>
<body>
 {% if user and not user.is_anonymous %}
Welcome back {{ user.get_full_name }}.
 <a href="{% url 'user-logout' %}">Logout</a>
 {% else %}
 <div class = "facebook">
	 <button>
		 <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}"><i class="fa fa-facebook-official"></i>
		 Facebook
		 </a>
	 </button>
 </div>
 <div>
   <button>
       <a href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}"><i class="fa fa-twitter"></i>
       Twitter
       </a>
   </button>
 </div>
 {% endif %}
 <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1653448758276347',
          xfbml      : true,
          version    : 'v2.5'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
</body>
</html>