{% extends 'basecursos.html' %}
{% load staticfiles %}

{% block content %}

<video autoplay  poster="{%static 'media/imagen2.png'%}" id="bgvid" loop>
  <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
{# <source src="polina.webm" type="video/webm"> #}
{# {%static 'media/video_portada.mp4'%} #}
<source src="{%static 'media/video_promo.webm'%}" type="video/mp4">
</video>



<div class="" id="text-p">
  <p>A VECES UNA CLASE NO ES SUFICIENTE PARA PASAR TUS MATERIAS,</p>
  <h1>Con Ya Pasé</h1> 
  <p>ESTUDIA A TU RITMO, EN TUS HORARIOS, 
CON LOS MEJORES LABORATORISTAS Y 
CON UN CHORRO DE EJERCICIOS.</p>
  <div class="valign-wrapper">
      <a href="{%url 'show_registro'%}"class="waves-effect waves-light btn grey">Crea tu cuenta</a>

      <a href="#cursos"class="btn-flat waves-effect waves-white efectito">Ver los cursos</a><i class="material-icons valign">play_arrow</i>

  </div> 
</div>



<section id=""class="section grey lighten-3">
<article class="container">
    <h3>Aprende a tu ritmo</h3>
    <p class="">Accede a los mejores cursos online para universitarios. Interactúa con los mejores profesionales y descubre que se puede pasar la materia.</p>
</article>
</section>

<section id="cursos"class="section white row">
    <h4>Nuestros Cursos:</h4>
    <br>

{%for curso in cursos%}
  <a class="modal-trigger" href="#modal{{curso.id}}">
       <div class="car small col s12 m6 l3 ">
      <div class="row">
        <div class="col s12">
          <div class="card hoverable">
            <div class="card-image">
              <img src="{{MEDIA_URL}}{{curso.img}}">
              <span class="card-title">{{curso.titulo}}</span>
            </div>
            <div class="card-content">
            <strong>{{curso.titulo}}</strong>
              <p class="grey-text">{{curso.descripcion}}</p>
            </div>
            <div class="card-action valign-wrapper">
              <i class="material-icons valing">person_pin</i><span class="datitos">160</span>
              <i class="material-icons valing right">thumb_up</i><span class="datitos">100%(12)</span>
            </div>
             <div class="margen">
                <a href="{% url 'show_curso' curso.id %}"class=" waves-effect waves-light btn white-text">MX$ 499</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    </a>

    <!-- Modal Structure -->
  <div id="modal{{curso.id}}" class="modal">
    <div class="modal-content">
    <div class="video-container">
        <iframe width="560" height="315" src="{{curso.video_link}}" frameborder="0" allowfullscreen></iframe>
      </div>
  
      <h4>{{curso.titulo}}</h4>
      <p>{{curso.descripcion}}</p>
      <p>
        {{curso.masinfo}}
      </p>
    </div>
    <div class="modal-footer valign-wrapper right">
              <i class="material-icons valing">person_pin</i><span class="datitos">160</span>
              <i class="material-icons valing right">thumb_up</i><span class="datitos">100%(12)</span>
            
    <div class="margen">
                <a href="{% url 'show_curso' curso.id %}" class=" waves-effect waves-light btn white-text">Comprar  MX$ 499</a>
            </div>
    </div>
  </div>


{%endfor%}

             

<a class="col s12 m4 push-m4 red waves-effect waves-light btn">Cargar más cursos</a>
</section>




{% endblock content%}
