{%extends 'basecursos.html'%}
{%block title%}Login{%endblock title%}

{%block content%}
<section class="container">
<div class="container row">
  <h3>Inicia Sesión</h3>
  {%if mensaje%}
  <p class="errorlist">{{mensaje}}</p>
  {%endif%}
  
</div>

  <div class="row">
    <form method="post" class="col s12 m6">
  {%csrf_token%}
      
        <div class="input-field">
          <input name="username" placeholder="Tu Usuario" id="first_name" type="text" class="validate">
          <label for="first_name">Usuario</label>
       

      
        <div class="input-field">
          <input name="password" id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      
      <input  type="submit" class="grey waves-effect waves-light btn">

    </form>
    
    <br>
    <br>
    <br>

<a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}" class="blue waves-effect waves-light btn"><i class="material-icons left">thumb_up</i>Inicia con Facebook</a>
<br>
 <a href="{%url 'show_registro'%}">Crear una cuenta nueva</a>
  </div>

  <div>
    
  </div>

</section>

  {%endblock content%}