
{% extends 'usuarios/baseusuarios.html' %}

{% block title %}Registro de usuario{% endblock title %}

{% block content %}
    <div class="row container">
        <div class="col s12">
            <div class="page-header">
                <h3>Registro Nuevo Usuario</h3>
            </div>

            <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Registrar</button>
            </form>
        </div>
    </div>
{% endblock content %}
